/* Setup CSS */
html {
  scroll-behavior: smooth;
}
body {
  transition: all 0.5s;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
h4,h6{
  color: #ffffff;
}
.m-container {
  max-width: 1000px;
  margin: auto;
}

/* Banner */
.banner-h {
  height: 40vw;
}

/* Cinema */
.movieShow {
  width: 12vw;
  height: 240px;
}

.cinema-logo {
  width: 50px;
  height: 50px;
}

.cinema-scale:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-title:hover {
  color: #ff00ff;
  transition: all 0.5s;
}

.cinema {
  height: 400px;
  overflow: auto;
}

.cinema-h {
  height: 1000px;
}

.showtimes {
  font-size: 18px;
  color: #09eed0;
}
/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(242, 15, 3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 235, 4);
}
