/* Setup CSS */
html {
  scroll-behavior: smooth;
}
body {
  transition: all 0.5s;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
h1,
h4,
h6 {
  color: #ffffff;
}
.m-container {
  max-width: 1200px;
  margin: auto;
}

.w-15 {
  width: 150px;
}

/* Banner */
.banner-h {
  height: 40vw;
}

/* Cinema */
.movieShow {
  width: 15vw;
  height: 280px;
}

.cinema-logo {
  width: 50px;
  height: 50px;
}

.movie-logo {
  width: 80px;
  height: 100px;
}
.cinema-scale:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-title:hover {
  color: #ee8b09;
  transition: all 0.5s;
}

.cinema {
  height: 400px;
  overflow: auto;
}

.cinema-h {
  height: 1000px;
}

.showtimes {
  font-weight: 500;
  color: #108f3e;
  width: 45%;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  margin: 0px 16px 16px 0px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgba(246, 246, 246, 0.5);
}
/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(242, 15, 3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 235, 4);
}

.btn-style {
  color: #ee8b09;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  background: none;
  box-shadow: 0 0 0 48px #ffffff inset;
  border-radius: 8px;
  transition: all 0.5s;
}

.btn-style:hover {
  color: #ee8b09;
  box-shadow: 0 0 0 2px #ee8b09 inset;
}

/* MoviShowing */
.movieShowingPic {
  width: 100%;
  border-radius: 4px;
  height: 400px;
}

/* Booking */

.chair-col {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  list-style: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(106, 102, 102);
  margin-bottom: 16px;
}

.chairs {
  color: #ffffff;
  background-color: #514e4e;
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
  align-items: baseline;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
}

.chairs:hover {
  background-color: #d10b0b;
  color: #ffffff;
  transition: all 0.5s;
}

/* Register */
.logo {
  background-image: url("./img/backapp.b46ef3a1.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 600px;
}
.ant-row {
  display: block;
}
.ant-col-8 {
  max-width: 100%;
}
.ant-col-14 {
  display: none;
}
.form-register {
  background-color: white;
  padding: 20px 40px;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
/* Login */
.login {
  background-image: url("./img/backapp.b46ef3a1.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 500px;
}
.form-login{
 background-color: white;
 padding: 10px 15px;
}

/* Admin add movie */
.inputAddMovie {
  border: 1px solid #848282;
  border-radius: 4px;
  padding: 2px;
}
